<div class="container">
    <table>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Tipo</th>
            <th>Fecha de Vencimiento</th>
            <th>Precio</th>
            <th>Fecha de Venta</th>
            <th>Cantidad</th>
            <th>Ruta de Foto</th>
        </tr>
        <tr *ngFor="let venta of input_listadoVenta">
            <td>{{venta.id}}</td>
            <td>{{venta.descripcion}}</td>
            <td>{{venta.tipo}}</td>
            <td>{{venta.fechaDeVencimiento}}</td>
            <td>{{venta.precio}}</td>
            <td>{{venta.fechaDeVenta}}</td>
            <td>{{venta.cantidad}}</td>
            <td><img src={{venta.rutaDeFoto}}></td>
            <td><button type="button" (click)="ventaParaBorrar(venta)">Borrar</button></td>
        </tr>
    </table>
</div>