<div class="container">
    <form>
        <span>Alta Producto</span>
        <div class="desc">
            <input type="text" placeholder="Descripcion..." id="desc" class="desc">
        </div>
        <div class="tipo">
            <input type="text" autocomplete="off"  placeholder="Tipo..." id="tipo" class="tipo">
        </div>
        <div class="fecha">
            <input type="text" placeholder="Fecha de vencimiento..." id="fecha" class="fecha">
        </div>
        <div class="precio">
            <input type="text" autocomplete="off" placeholder="Precio..." id="precio" class="precio">
        </div>
        <div class="boton">
            <button type="button" (click)="agregar()" class="boton">Agregar</button>
        </div>
    </form>
</div>