div.container{
    background-color: white;
    width: 100%;
    border-radius: 5px;
  }

.buscar{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button.busqueda{
    background-image: url("https://img.icons8.com/material-rounded/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
    background-color: white;
    border: none;
    height: 43px;
    border-radius: 5px;
}

div.search{
  display: inline-flex;
  width: 100%;
  
}